<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de Resumos</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      #container {
        background-color: #f5f5f5;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
      }

      #resultContainer {
        display: none;
        background-color: #e0e0e0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Gerador de resumos</h1>
          <form
            id="uploadForm"
            method="POST"
            class="form-group"
            enctype="multipart/form-data"
          >
            <label for="fileInput">Selecionar arquivo:</label>
            <input
              type="file"
              id="fileInput"
              name="fileInput"
              class="form-control-file"
            />
            <label for="typeSummary">Tipo de resumo:</label>
            <select id="typeSummary" name="typeSummary" class="form-control">
              <option value="abstractive">Abstrativo</option>
              <option value="summary">Pontos-chave</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Upload e Resumir</button>
          </form>
          <div id="resultContainer" class="mt-3">
            <div id="result">
              <!-- O resumo gerado será exibido aqui -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const uploadForm = document.getElementById("uploadForm");
      const resultContainer = document.getElementById("resultContainer");
      const resultDiv = document.getElementById("result");

      uploadForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        const formData = new FormData(uploadForm);
        const fileInput = document.getElementById("fileInput").files[0];
        formData.append("fileInput", fileInput);

        const typeSummary = document.getElementById("typeSummary").value;
        formData.append("typeSummary", typeSummary);

        try {
          // Envio do formulário para upload e resumo
          const response = await fetch("/uploadAndSummarize", {
            method: "POST",
            body: formData,
          });

          const data = await response.json();
          resultDiv.innerHTML = data.summary;
          resultContainer.style.display = "block";
        } catch (error) {
          console.error(error);
          resultDiv.innerHTML = "Erro ao enviar o arquivo ou resumir o texto.";
        }
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
